*{
    padding: 0;
    margin: 0;
}

/* Style the navbar */
.navbar {
    background-color: #336699;
}

/* Style the navigation links */
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #FFA500; /* Change the color on hover */
}
@media (min-width: 400px) and (max-width:600px) {
    .menu-button {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height:100vh;
    
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

.committee-member {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.committee-member img {
    /* max-width: 100px; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 24px;
}

.creators-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.creator {
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

.creator img {
    /* max-width: 100%; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* height: 40vh; */
}

h2 {
    font-size: 20px;
    margin: 10px 0;
}

p {
    font-size: 16px;
}
