*{
    padding: 0;
    margin: 0;
}

/* Style the navbar */
.navbar {
    background-color: #336699;
}

/* Style the navigation links */
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #FFA500; /* Change the color on hover */
}
@media (min-width: 400px) and (max-width:600px) {
    .menu-button {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }
}

body {
   
  
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../assets/BG3.jpg');
    background-size: cover;
    background-position: center;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.card-container {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
    cursor: pointer;
    transform-origin: center bottom;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.card-content {
    padding: 20px;
}

.card h2 {
    font-size: 24px;
}

.card p {
    font-size: 16px;
}





/* Responsiveness */


/* Add this code to your existing CSS */

/* Responsive design for screens up to 768px wide */
@media (max-width: 768px) {


    .card img {
        max-width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }
    
    .card-content {
        padding: 20px;
    }
    
    .card h2 {
        font-size: 15px;
    }
    
    .card p {
        font-size: 10px;
    }
    
    h1 {
        font-size: 20px;
    }

    /* Style the navigation links */
    .nav-links {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
    }
    
    .nav-links li {
        margin: 3px;
    }
    
    .nav-links a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        transition: color 0.3s;
        font-size: 7px
    }

}

